* {
	box-sizing: border-box;
}

body {
	background: url('../images/diagonales_decalees.png'), $grey;
	color: lighten($primary-color, 16);
	text-rendering: optimizeLegibility;
	font-family: $bodyFont;
	font-size: 16px;
	line-height: 1.16;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $headerFont;
}

h1, h2, h3 {
	text-shadow: 1.2px 1.2px 0px $white;
	color: $darkBlue;
}

h1 {
	text-shadow: 0.2px 2px 0px $white;
}

a {
	color: $lightBlue;
	transition: color 0.3s ease-out;
		&:hover {
			color: saturate($lightBlue, 20);
		}
}

table a {
	color: $darkBlue;
}

article {
	background-color: $darkBlue;
	padding: $step1 + rem $step1 + rem $step-1 + rem;
	color: $white;
	@include boradius;
	@include bottomshadow;
	overflow: hidden;
		h1, h2, h3, h4 {
			background-color: $lightBlue;
			position: relative;
			left: -($step1) + rem;
			display: inline-block;
			padding: $step-3 + rem $step-1 + rem;
			clear: both;
		}
		h3 {
			display: block;
		}
		p {
			background-color: $lightGrey;
			color: $black;
			padding: $step-2 + rem $step-1 + rem;
			@include boradius;
				a {
					color: $darkPurple;
					text-decoration: underline;
					text-decoration-style: dotted;
				}
		}
}

#outerWrap {
	overflow: hidden;
	padding: 0 $step1 + rem $step2 + rem;
}

header {
	padding: $step2 + em;
	// width: 100%;
		#logo {
			// max-width: 50%;
			// margin-top: $step2 + rem;
				img {
					width: 100%;
				}
		}
		nav {
			min-width: 50%;
			margin: 0 auto $step2 + rem;
			overflow: hidden;
				ul {
					overflow: hidden;
					list-style: none;
					margin: 0;
					padding: 0;
					float: right;
					border-bottom: 2px solid $darkBlue;
						li {
							float: left;
							margin: 0 0 0 $step3 + em;
							padding: 0 $step-2 + em;
							max-width: 10em;
								ul {
									display: none;
								}
								// &:hover{
								// 	background-color: $darkBlue;
								// 	 ul {
								// 		display: block;
								// 		position: relative;
								// 		float: none;
								// 		padding: 0;
								// 			li {
								// 				float: none;
								// 				margin: 0;
								// 			}
								// 		}
								// 	}
								a {
									text-decoration: none;
									color: $darkBlue;
								}
								&.current-menu-item a {
									color: $lightBlue;
								}
						}
				}
		}
}

#attSliderWrapper {
	// left: 11.6px;
	// margin-top: $step2 + em;
	// float: right;
	// width: 66%;
	// background-color: $darkBlue;
	@include boradius;
		article {
		}
		div.image_wrap {
			width: 25%;
			float: left;
			display: inline;
			margin: 0 $step1 + rem $step-1 + rem 0;
		}
		h2 {
			margin-bottom: 0;
			color: $white;
			text-shadow: 1.6px 2.2px 0px $black;
		}
}

#contentWrap, #pageFooter {
	// padding: 0 13px;
}

#contentWrap {
		article {
			margin-bottom: $step2 + rem;
		}
}

#sideBarWrap {
	overflow: hidden;
	margin-bottom: $step1 + rem;
	// padding-right: 0;
		ul {
			list-style: none;
			float: right;
			margin: 0;
			padding: 0;
			padding-bottom: 20px;
			overflow: hidden;
			width: 100%;
				li {
					background-color: $darkBlue;
					text-align: right;
					font-size: $step2 + em;
					padding: $step-3 + em $step-2 + em;
					margin: $step-1 + em 0 0;
					min-width: 50%;
					transition: all 0.6s ease-out 0.2s;
					@include boradius;
					@include bottomshadow;
						&:hover a, {
							padding-right: $step3 + em;
							// text-align: left;
							color: lighten($lightBlue, 20);
						}
						&:first-of-type {
							margin-top: 0;
						}
						a {
							display: block;
							width: 100%;
							text-align: right;
							transition: all 0.6s ease-out 0.2s;
						}
						a.current_sidebar_link {
							text-align: left;
						}
						table {
							width: 100%;
							margin-bottom: $step-1 + rem;
						}
						table td {
							font-size: $step1 + rem;
							text-align: left;
						}
						img {
							width: 90%;
							margin: $step1 + rem;
						}
				}
		}

}

.image_wrap img {
	width: 100%;
}

#sliderWrap {
	margin-bottom: $step1 + rem;
	height: 592px;
		article {
			background-color: rgba(38, 58, 85, 0.76);
		}
		h2,h3 {
			position: none;
			text-shadow: none;
			color: $white;
			background-color: transparent;
			padding-left: $step-1 + rem;
		}
		p {
			background-color: transparent;
			color: $white;
			text-shadow: 0.3px 0.6px 0.3px $black;
			padding: 0;
		}
		a {
			color: saturate($lightBlue, 16);
		}
}

.overlay {
	position: absolute;
	bottom: -26.5px;
	z-index: 5;
}

.owl-wrapper img {
	@include boradius;
}

.owl-carousel {
	padding-top: 0;
}

#welcome {
	margin: 0 0 $step1 + rem;
		h2 {
			margin-top: 0;
		}
}

#pageFooter {
	@include boradius;
	background-color: $darkBlue;
	width: 100%;
	margin-top: $step3 + rem;
		article {
			border-radius: 0px;
		}
}

